$dark-color:rgba(32, 32, 39, 1);

* {
    margin: 0;
    padding: 0;
}

.center {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 120px;
}

// плавный скролл
html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

.hero-star {
  position: absolute;
}

.hero-star--1 {
  top: 94px;
  left: 63px;
}

.hero-star--2 {
  top: 69px;
  left: 156px;
}

.hero-star--3 {
  top: 538px;
  right: 448px;
}

.hero-star--4 {
  top: 568px;
  right: 365px;
}

.hero-star--5 {
  top: 0;
  right: 0;
  width: 500px;
}

.hero-star--mob1 {
  display: none;
}

// стартовый блок
.hero {
    background-color: rgba(225, 255, 143, 1);
    width: 100%;
    height: 100%;

    &__title {
        color: $dark-color;
        font-family: 'Montserrat', sans-serif;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        padding-top: 196px;
    }

    &__description-mobile {
        display: none;
    }

    &__description {
        color: $dark-color;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0;
        text-align: left;
        margin-top: 24px;
    }

    &__button {
        color: white;
        font-size: 24px;
        margin-top: 48px;
        padding: 16px 28px;
        box-sizing: border-box;
        border: 1px solid rgba(32, 32, 39, 1);
        border-radius: 60px;
        background: rgba(32, 32, 39, 1);
        text-align: center;
        text-decoration: none;
        transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
        color: rgba(255, 255, 255, 1);
        font-weight: 600;
        display: inline-flex; 
        align-items: center;
        justify-content: center;
        font-family: Montserrat;
    }

        // кнопка "Поехали!" при нажатии
    &__button:active {
        background: rgb(255, 255, 255); // Цвет как у hero блока
        color: rgba(0, 0, 0, 1);
        border: 1px solid rgba(0, 0, 0, 1);
    }
}

// блок "Об играх"
.about {
    background: $dark-color;
    position: relative;
    overflow: hidden; 
    z-index: -2;
    &__title {
        color: rgba(255, 255, 255, 1);
        font-family: Montserrat;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 96px;
    }

    &__description {
        color: rgba(255, 255, 255, 1);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 24px;
    }
}

// карточки игр
.games {
    display: flex;
    // flex-wrap: wrap;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    margin-top: 72px;

    &__column {
    display: flex;
    flex-direction: column;
    gap: 32px;
    }
}

.about-games-section__star {
  position: absolute;
  z-index: 20;
}

.about-games-section__star--1 {
  margin-top: 77px;
  right: 0;
  z-index: -1;
}

.about-games-section__star--2 {
  margin-top: 770px;
  left: 28px;
}

.about-games-section__star--3 {
  margin-top: 822px;
  left: 45px;
}

.super {

    padding: 32px;

    &__title {
        color: $dark-color;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 110%;
        text-align: left;

// для овального фона
        display: inline-flex;
        padding: 8px 16px 10px 16px;
        border-radius: 52.58px;
        background: rgba(247, 247, 247, 1);
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }

    &__description {
        color: $dark-color;
        font-family: Montserrat;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0px;
        text-align: left;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

// Убирает подчеркивание у всех ссылок
a {
    text-decoration: none;
    
    &:hover, &:active, &:visited {
        text-decoration: none;
    }
}

.box-white {
    border-radius: 30px;
    box-shadow: 0px 12.61px 42.251190185546875px -7.57px rgba(0, 0, 0, 0.13);
    background: rgba(255, 255, 255, 1);
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.games-card img {
    width: 320px;
    box-sizing: border-box;
}


.marquee-section {
    background: rgba(188, 236, 48, 1);
    padding: 27px 0;
    overflow: hidden; // Скрываем выходящее за пределы
    width: 100%;
    
    .marquee-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }
    
    .marquee-track {
        display: flex;
        justify-content: space-around; 
        flex-wrap: nowrap;
        gap: 51px;
    }
    
    .marquee-item {
        color:$dark-color;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        white-space: nowrap;
    }
    .marquee-icon {
        width: 36px; 
        height: 36px;
        object-fit: contain;
    }
}

.desktop {
    display: block; // ПОКАЗАТЬ десктопный текст
}
.mobile {
    display: none; // СКРЫТЬ мобильный текст
}


@media (min-width: 769px) and (max-width: 1023px) {
    .about {
        display: none;
    }
}

@media (max-width:768px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .hero {
        min-height: 700px;
    }

    .hero__title {
        font-size: 40px;
        text-align: center;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0px;
    }

    .hero__description {
        display: none;
    }
    
    .hero__description-mobile {
        font-size: 16px;
        text-align: center;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
    }
    
    .hero__button {
        font-size: 16px; 
        padding: 16px 28px;
        display: block;
        width: fit-content;
        margin: 32px auto 0;
        width: 285px; 
    }
    
    .hero-star--1 {
        width: 35px;
        top: 97px;
        left: 37px;
    }

    .hero-star--2 {
        width: 21px;
        left: 92px;
        top: 64px;
    }

    .hero-star--3 {
        width: 21px;
        bottom: 24px;
        right: 86px;
        top: 595px;
    }

    .hero-star--4 {
        width: 35px;
        bottom: 28px;
        right: 32px;
        top: 620px;
    }
    
    .hero-star--5 {
        display: none;
    }
    
    .hero-star--mob1 {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .about {
        display: none;
    }
    
    .about__title {
        font-size: 36px;
        text-align: center;
        padding-top: 0;
        color: white;
        background: transparent;
    }
}


/* блок мини-игры */
.mini {
    background: rgba(32, 32, 39, 1);
    padding-top: 46px;
    padding-bottom: 144px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.mini__container {
    max-width: 1400px; /* Ограничиваем ширину контейнера */
    margin: 0 auto; /* Центрируем контейнер */
    display: flex;
    flex-direction: column;
    gap: 32px; /* Добавляем промежуток между карточками */
}

.mini__title {
    color: rgba(255, 255, 255, 1);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    text-align: left;
    margin-top: 46px;
    margin-bottom: 72px;
    font-family: Montserrat;
}

.mini__star {
    position: absolute;
}

.mini__star--1 {
    width: 35px;
    top: 143px;
    right: 123px;
}

.mini__star--2 {
    width: 68px;
    top: 176px;
    right: 45px;
}

.mini__star--3 {
    width: 35px;
    bottom: 45px;
    right: 150px;
}

.mini__star--4 {
    width: 68px;
    bottom: 65px;
    right: 54px;
}

.mini__card {
    display: flex;
    border-radius: 30px;
    box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
    background: #FFFFFF;
    overflow: hidden; /* Чтобы содержимое не выходило за границы */
    min-height: 350px; 
}

/* расположение картинки и текста */
.mini__card:nth-child(odd) {
    flex-direction: row; /* Текст слева, картинка справа */
}


.mini__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 48px;
    flex: 1; /* Занимает доступное пространство */
    justify-content: center; /* Центрируем содержимое по вертикали */
}

.mini__name {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    margin: 0;
}

.mini__desc {
    color: rgba(32, 32, 39, 1);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
}

.mini__img {
    width: 50%; /* Картинка занимает 50% ширины */
    object-fit: cover; /* Чтобы картинка заполняла область */
    border-radius: 0 30px 30px 0; /* Закругляем только правую сторону */
}

/* Для карточек с картинкой слева */
.mini__card:nth-child(even) .mini__img {
    border-radius: 30px 0 0 30px; /* Закругляем левую сторону */
}

.mini__button {
    width: 247px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 28px;
    border-radius: 60px;
    background: rgba(32, 32, 39, 1);
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mini__button:hover {
    background-color: rgba(50, 50, 60, 1);
}

.footer {
    background-color: rgba(189, 237, 53, 1);
    padding: 61px;
}

.footer__text {
    text-align: center;
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-weight: 600;
    font-family: Montserrat;
    line-height: 29px;
    margin: 0;
}

