$dark-color:rgba(32, 32, 39, 1);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// плавный скролл
html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

// стартовый блок
.hero {
    background-color: rgba(225, 255, 143, 1);
    width: 100%;
    height: 100%;

    &__content {
        padding-top: 120px;
        margin-left: 120px;
    }

    &__title {
        color: $dark-color;
        font-family: 'Montserrat', sans-serif;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0;
        text-align: left;
        width: 769px;
        height: 156px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__description {
        color: $dark-color;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0;
        text-align: left;
        width: 720px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 24px;
    }

    &__button {
        color: rgba(255, 255, 255, 1);
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        text-align: center;
        box-sizing: border-box;
        border: 1px solid $dark-color;
        border-radius: 60px;
        background: $dark-color;
        width: 247px;
        height: 66px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 28px;
        gap: 10px;
        margin-top: 48px;
        transition: all 0.3s ease;
    }

        // кнопка "Поехали!" при нажатии
    &__button:active {
        background: rgb(255, 255, 255); // Цвет как у hero блока
        color: rgba(0, 0, 0, 1);
        border: 1px solid rgba(0, 0, 0, 1);
    }
}

// блок "Об играх"
.about {
    background: $dark-color;
    position: relative;
    overflow: hidden; 
    &__title {
        color: rgba(255, 255, 255, 1);
        font-family: Montserrat;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 96px;
        margin-left: 119px;
    }

    &__description {
        color: rgba(255, 255, 255, 1);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 24px;
        margin-left: 119px;
    }
}

// карточки игр
.games {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    margin-top: 72px;

    &__column {
    display: flex;
    flex-direction: column;
    gap: 32px;
    }
}

.super {

    padding: 32px;

    &__title {
        color: $dark-color;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 110%;
        text-align: left;

// для овального фона
        display: inline-flex;
        padding: 8px 16px 10px 16px;
        border-radius: 52.58px;
        background: rgba(247, 247, 247, 1);
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }

    &__description {
        color: $dark-color;
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0px;
        text-align: left;
        width: 314px;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

// Убирает подчеркивание у всех ссылок
a {
    text-decoration: none;
    
    &:hover, &:active, &:visited {
        text-decoration: none;
    }
}

.box-white {
    border-radius: 30px;
    box-shadow: 0px 12.61px 42.251190185546875px -7.57px rgba(0, 0, 0, 0.13);
    background: rgba(255, 255, 255, 1);
    width: 378px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.marquee-section {
    background: rgba(188, 236, 48, 1);
    padding: 27px 0;
    overflow: hidden; // Скрываем выходящее за пределы
    width: 100%;
    
    .marquee-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }
    
    .marquee-track {
        display: flex;
        justify-content: space-around; 
        flex-wrap: nowrap;
        gap: 51px;
    }
    
    .marquee-item {
        color:$dark-color;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        white-space: nowrap;
    }
    .marquee-icon {
        width: 36px; 
        height: 36px;
        object-fit: contain;
    }
}
