// Мобильная версия (до 768px)
@media (max-width: 768px) {
    .boards {
        padding-left: 16px;
        padding-right: 16px;
    }
    
    .header {
        &__title {
            font-size: 40px;
            text-align: center;
            font-weight: 700;
            line-height: 49px;
            letter-spacing: 0px;
        }
        
        &__text {
            font-size: 16px;
            text-align: center;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
        }
        
        &__button {
            font-size: 16px; 
            padding: 16px 28px;
            display: block;
            width: fit-content;
            margin: 32px auto 0; 
        }
        
        &-star {
            &--1 {
                width: 35px;
                top: 97px;
                left: 37px;
            }
            
            &--2 {
                width: 21px;
                left: 92px;
                top: 64px;
            }
            
            &--3 {
                width: 21px;
                bottom: 24px;
                right: 86px;
            }
            
            &--4 {
                width: 35px;
                bottom: 28px;
                right: 32px;
            }
            
            &--5 {
                display: none;
            }
            
            &--mob {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
    
    .about-games-section {
        display: none;
    }
    
    .mini-game-title {
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 48px;
    }
    
    .mini-games {
        display: none;
        border-radius: 30px;
        transition: none;
        
        &__card {
            background-color: white;
            border-radius: 30px;
            padding-bottom: 36px;
        }
        
        &__star {
            display: none;
        }
        
        &-mob-1 {
            display: flex;
            flex-direction: column;
            gap: 32px;
            width: 100%;
        }
    }
    
    .games-section {
        padding: 48px 0 10px 0;
    }
    
    .card-game {
        &__name {
            font-size: 32px;
        }
        
        &__desc {
            font-size: 16px;
        }
    }
    
    .footer__text {
        font-size: 16px;
    }
}

// Планшетная версия (769px - 1023px)
@media (min-width: 769px) and (max-width: 1023px) {
    .about-games-section {
        display: none;
    }
    
    .mini-game-title {
        font-size: 64px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 48px;
    }
    
    .mini-games {
        display: none;
        border-radius: 30px;
        transition: none;
        
        &__card {
            background-color: white;
            width: 378px;
            border-radius: 30px;
            padding-bottom: 36px;
        }
        
        &-mob-1 {
            display: flex;
            flex-direction: row;
            gap: 32px;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    
    .games-section {
        padding: 48px 0 20px 0;
    }
    
    .card-game {
        width: 378px;
        &__name {
            font-size: 48px;
        }
        
        &__desc {
            font-size: 24px;
        }
    }
}

// Десктопная версия (от 1024px)
@media (min-width: 1024px) {
    .mini-games-mob {
        display: none;
    }
}